
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ac704f;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

aside {
    margin-left: 20px;
    width: 250px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
